DATABASE_URL=mysql+pymysql://root:pasword@localhost:3306/salary_management
TEST_DATABASE_URL=mysql+pymysql://root:pasword@localhost:3306/salary_management_test
JWT_SECRET_KEY="<32-bit secret key>"
SAPMLE_USERNAME="test_user"
SAMPLE_PASSWORD="secret"
